<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>AngularJS - CISS</title>
	<meta charset="utf8" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/myApp.js"></script>
	<script type="text/javascript" src="js/controller/formCtrl.js"></script>
</head>
<body ng-controller="FormCtrl">
	<div class="container">
		<div class="jumbotron">
			<h1 ng-bind="'Cadastro de tarefas'"></h1>
			<form id="formularioCadastrar">
				<div class="form-group col-xs-12">
					<label for="tarefa">Tarefa</label>
					<input type="text" class="form-control" id="tarefa" ng-model="tarefa">
				</div>
				<div class="col-xs-12">
					<button type="submit" class="btn btn-primary pull-right" ng-click="cadastrarTarefa(tarefa)">Cadastrar</button>
				</div>
			</form>
			<hr>
			<div class="row">
				<div class="form-group col-xs-12">
					<label for="search">Buscar:</label>
					<input type="text" id="search" ng-model="search">
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>Check</th>
							<th>Tarega</th>
							<th>Data</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in list | filter:search">
							<td><input type="checkbox"></input></td>
							<td ng-bind="item.nomeTarefa"></td>
							<td ng-bind="item.dataTarefa | date:'dd/MM/yyyy'"></td>
							<td><button class="btn btn-success" ng-click="editarTarefa($index)"><i class="glyphicon glyphicon-pencil"></i></button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<form id="formularioEditar" ng-show="clicouEditar">
				<div class="form-group col-xs-8">
					<input type="text" class="form-control" id="renomear" ng-model="renomear">
				</div>
				<div class="col-xs-4">
					<button type="submit" class="btn btn-primary pull-right" ng-click="renomearTarefa(renomear)">Renomear</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>